// Заголовки, загальні БЕМ блоки та інше...

.page {
	// .page__main

	&__main {
	}
	&__partners {
	}
}

.title {
	font-weight: 700;
	line-height: math.div(78, 70);
	color: #ffffff;
	@include adaptiveValue("font-size", 70, 45);
	&_s64 {
		@include adaptiveValue("font-size", 64, 40);
	}
	span {
		color: $greenColor;
	}
}
//========================================================================================================================================================
.text {
	line-height: 180%;
}
//========================================================================================================================================================

.form {
	// .form__input

	&__input {
	}

	// .form__button

	&__button {
	}
}
