// Заголовки, загальні БЕМ блоки та інше...

.page {
	// .page__main

	&__main {
	}
}

.title {
	font-weight: 700;
	line-height: math.div(78, 70);
	font-size: rem(70);
	color: #ffffff;
	@include adaptiveValue("font-size", 70, 45);
	span {
		color: $greenColor;
	}
}

//========================================================================================================================================================

.form {
	// .form__input

	&__input {
	}

	// .form__button

	&__button {
	}
}
