//====================================================================================================

.main-block {
	// .main-block__container
	&__container-big {
		position: relative;
	}
	&__container {
	}

	// .main-block__content

	&__content {
		position: relative;
		z-index: 2;
		@include adaptiveValue("padding-top", 250, 130);
		@include adaptiveValue("padding-bottom", 200, 50);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	// .main-block__title

	&__title {
		max-width: rem(830);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 69, 30);
		}
	}

	// .main-block__text

	&__text {
		max-width: rem(570);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 25);
		}
	}

	// .main-block__form

	&__form {
		@media (max-width: em(430)) {
			width: 100%;
		}
	}

	// .main-block__icons

	&__icons {
	}
}
.icons-main-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	@media (max-width: $mobile) {
		opacity: 0.2;
	}
	// .icons-main-block__item

	&__item {
		position: absolute;
		// .icons-main-block__item_1

		&_1 {
			top: percent(675, 974);
			left: rem(15);
		}

		// .icons-main-block__item_2

		&_2 {
			top: percent(380, 974);
			left: percent(257, 1620);
		}

		// .icons-main-block__item_3

		&_3 {
			top: percent(757, 974);
			left: percent(403, 1620);
		}

		// .icons-main-block__item_4

		&_4 {
			top: percent(136, 974);
			left: percent(1149, 1620);
		}

		// .icons-main-block__item_5

		&_5 {
			top: percent(417, 974);
			left: percent(1325, 1620);
		}

		// .icons-main-block__item_6

		&_6 {
			top: percent(776, 974);
			left: percent(1321, 1620);
		}

		// .icons-main-block__item_7

		&_7 {
			top: percent(370, 974);
			right: rem(15);
		}
	}
	&__circle {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		@include adaptiveValue("width", 585, 350);
		@include adaptiveValue("height", 585, 350);
		&::before {
			content: "";
			display: block;
			border-radius: 50%;
			border: 1px solid #fff;
			width: 100%;
			height: 100%;
		}

		&_1 {
			&::before {
				transform: translate(calc(-50% - rem(28)), -35%);
			}
		}
		// .icons-main-block__circle_1
		// .icons-main-block__circle_2

		&_2 {
			&::before {
				transform: translate(calc(-50% + rem(27)), -44%);
			}
		}
	}
}

//====================================================================================================

.partners {
	@include adaptiveValue("padding-bottom", 200, 50);
	// .partners__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(25);
		flex-wrap: wrap;
		@media (max-width: em(1240)) {
			justify-content: center;
		}
	}

	// .partners__item

	&__item {
		text-align: center;
		padding: 0 rem(15);
		img {
			min-width: 100%;
		}
	}
}

//====================================================================================================

.how {
	@include adaptiveValue("padding-bottom", 100, 25);
	// .how__container
	&__container {
		display: grid;
		row-gap: rem(30);
		@media (min-width: $tablet) {
			grid-template-columns: 1fr percent(750, 1420);
		}
	}

	// .how__content

	&__content {
		@include adaptiveValue("padding-right", 95, 30);
		@media (max-width: $tablet) {
			padding-right: rem(0);
		}
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	// .how__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}

	// .how__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 30);
		}
	}

	// .how__steps

	&__steps {
	}

	// .how__image

	&__image {
	}
}
.steps-how {
	// .steps-how__item

	&__item {
		max-width: rem(490);
		display: flex;
		align-items: flex-start;
		gap: rem(32);
		@include adaptiveValue("margin-bottom", 48, 30);
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .steps-how__icon

	&__icon {
		background: rgba(0, 128, 0, 0.1);
		flex: 0 0 rem(110);
		width: rem(110);
		height: rem(110);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .steps-how__body

	&__body {
	}
}
.item-how {
	// .item-how__title

	&__title {
		font-size: tem(20);
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .item-how__text

	&__text {
	}
}

//====================================================================================================

.pathway {
	// .pathway__container-big
	@include adaptiveValue("padding-top", 100, 25);
	@include adaptiveValue("padding-bottom", 100, 25);

	&__container-big {
	}

	// .pathway__container

	&__container {
		display: flex;
		row-gap: rem(30);
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
		}
	}

	// .pathway__image

	&__image {
		flex: 0 0 percent(694, 1420);
		.image-block__circle {
			top: auto;
			right: auto;
			left: 0;
			bottom: 0;
		}
		.image-block__circle_1 {
			&::before {
				transform: translate(calc(-50% + rem(18)), -20%);
			}
		}
		.image-block__circle_2 {
			&::before {
				transform: translate(calc(-50% + rem(20)), 6%);
			}
		}
	}

	// .pathway__content

	&__content {
		flex: 1 1 auto;
		@include adaptiveValue("padding-left", 126, 30);
		@media (max-width: $tablet) {
			padding-left: rem(0);
		}
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	// .pathway__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}

	// .pathway__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 30);
		}
	}
	&__spollers {
		display: grid;
		gap: rem(24);
	}
}

.spollers-pathway {
	// .spollers-pathway__item

	&__item {
		background: rgba(255, 255, 255, 0.05);
		border-radius: rem(10);
	}

	// .spollers-pathway__title

	&__title {
		width: 100%;
		display: block;
		text-align: left;
		padding: rem(24) rem(30);
		background: rgba(255, 255, 255, 0.05);
		border-radius: rem(10);
		display: flex;
		line-height: 177%;
		@include adaptiveValue("font-size", 24, 18);
		align-items: center;
		gap: rem(10);
		justify-content: space-between;
		&::after {
			content: "";
			background: url("@img/icons/arrow.svg") center / 100% no-repeat;
			flex: 0 0 rem(24);
			height: rem(24);
			transition: all 0.3s ease 0s;
		}
		&._spoller-active {
			&::after {
				transform: rotate(-180deg);
			}
		}
		@media (max-width: $mobileSmall) {
			line-height: 130%;
			padding: rem(18) rem(20);
		}
	}

	// .spollers-pathway__body

	&__body {
		padding: rem(24) rem(30);
		@media (max-width: $mobileSmall) {
			padding: rem(20) rem(18);
		}
	}
}
