//====================================================================================================

.main-block {
	// .main-block__container

	&__container {
		position: relative;
	}

	// .main-block__content

	&__content {
		@include adaptiveValue("padding-top", 250, 130);
		@include adaptiveValue("padding-bottom", 200, 30);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	// .main-block__title

	&__title {
		max-width: rem(830);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 69, 30);
		}
	}

	// .main-block__text

	&__text {
		line-height: 180%;
		max-width: rem(570);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 25);
		}
	}

	// .main-block__form

	&__form {
		@media (max-width: em(430)) {
			width: 100%;
		}
	}

	// .main-block__icons

	&__icons {
	}
}
.title {
}
.button {
}
.icons-main-block {
	// .icons-main-block__item

	&__item {
		// .icons-main-block__item_1

		&_1 {
		}

		// .icons-main-block__item_2

		&_2 {
		}

		// .icons-main-block__item_3

		&_3 {
		}

		// .icons-main-block__item_4

		&_4 {
		}

		// .icons-main-block__item_5

		&_5 {
		}

		// .icons-main-block__item_6

		&_6 {
		}

		// .icons-main-block__item_7

		&_7 {
		}
	}
}

//====================================================================================================
